{% extends 'base.html' %}
{% load static  %}

{% block content %}
<section class="page-section about-heading">
 <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
   src="{% static '/img/zoriana-stakhniv-d_9i9TaOxfI-unsplash.jpg' %}" style="height: 40em;">
  <div class="about-heading-content">
   <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
     <div class="bg-faded rounded p-5">
      <h2 class="section-heading mb-4"><span class="section-heading-upper">strong team, Happy Moments</span><span
        class="section-heading-lower">&nbsp;About Our Company</span></h2>
      <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum
       has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
       and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
       electronic typesetting, remaining essentially unchanged.&nbsp;<br></p>
      <p class="mb-0"><span><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged.&nbsp;<br><br></span></p>
     </div>
    </div>
   </div>
  </div>
 </div>
</section><a class="d-md-flex justify-content-md-center align-items-md-center" id="wp" target="_blank"
 style="background-color: #5bbf21;" href="https://wa.me/919481259910"><i
  class="fa fa-whatsapp d-md-flex justify-content-md-center align-items-md-center"></i></a>
{% endblock %}