{% extends 'base.html' %}
{% load static  %}
{% block content %}
<div>
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded"
          src="{% static '/img/ian-schneider-PAykYb-8Er8-unsplash.jpg' %}">
        <div class="text-center intro-text p-5 rounded bg-faded">
          <h2 class="section-heading mb-4"><span class="section-heading-upper">Beautiful Moment&nbsp;</span><span
              class="section-heading-lower">Worth Celebrating</span></h2>
          <p class="mb-3"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
            industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. I<br></p>
          <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button"
              href="#">Contact Us Today!</a></div>
        </div>
      </div>
    </div>
  </section>
  <br />
  <div class="container">
    <div class="product-item">
      <div class="d-flex product-item-title">
        <div class="d-flex me-auto bg-faded p-5 rounded">
          <h2 class="section-heading mb-0"><span class="section-heading-upper"><strong>anniversary</strong></span><span
              class="section-heading-lower">Priceless moments</span></h2>
        </div>
      </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded"
        src="{% static '/img/andreas-ronningen-S2YssLw97l4-unsplash.jpg' %}">
      <div class="bg-faded p-5 rounded">
        <p class="mb-0">We take pride in our work, and it shows. We guarantee that it will be an experience worth
          having.
        </p>
      </div>
    </div>
  </div><a class="d-md-flex justify-content-md-center align-items-md-center" id="wp" target="wa.me/"
    style="background-color: #5bbf21;" href="https://wa.me/919481259910"><i
      class="fa fa-whatsapp d-md-flex justify-content-md-center align-items-md-center"></i></a><a
    class="d-md-flex justify-content-md-center align-items-md-center" id="wp" target="wa.me/"
    style="background-color: #5bbf21;" href="https://wa.me/919481259910"><i
      class="fa fa-whatsapp d-md-flex justify-content-md-center align-items-md-center"></i></a>
  <br />
  <div class="container">
    <div class="product-item">
      <div class="d-flex product-item-title">
        <div class="d-flex ms-auto bg-faded p-5 rounded">
          <h2 class="section-heading mb-0"><span class="section-heading-upper">Once in a life time</span><span
              class="section-heading-lower">Wedding</span></h2>
        </div>
      </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded"
        src="{% static '/img/wedding-dreamz-e7EJG019-rQ-unsplash.jpg' %}">
      <div class="bg-faded p-5 rounded">
        <p class="mb-0">Love is patient, love is kind. It does not envy, it does not boast, it is not proud. It does not
          dishonor others, it is not self-seeking, it is not easily angered, it keeps no record of wrongs.<br></p>
      </div>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="product-item">
      <div class="d-flex product-item-title">
        <div class="d-flex mx-auto bg-faded p-5 rounded">
          <h2 class="section-heading mb-0"><span
              class="section-heading-upper"><strong>Proposal&nbsp;</strong><br></span><span
              class="section-heading-lower">Moment of truth</span></h2>
        </div>
      </div><img class="img-fluid d-flex mx-auto product-item-img mb-3 mb-lg-0 rounded"
        src="{% static '/img/sergey-mikheev-H53P-A_396w-unsplash.jpg' %}">
      <div class="bg-faded p-5 rounded">
        <p class="mb-0">When you realise you want to spend the rest&nbsp;of your life with somebody,&nbsp;you
          want&nbsp;the&nbsp;rest&nbsp;of your life to start as soon as possible.<br></p>
      </div>
    </div>
  </div>
  <br />
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="text-center cta-inner rounded">
            <h2 class="section-heading mb-4"><span class="section-heading-upper">Our Promise</span><span
                class="section-heading-lower">To You</span></h2>
            <p class="mb-0"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
              industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
              a
              galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
              also
              the leap into electronic typesetting, remaining essentially unchanged.&nbsp;<br></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div><br />
{% endblock %}