{% extends 'base.html' %}
<!-- {% load static %} -->
{% block content %}
<div class="bg-faded p-5 rounded">
  <section id="portfolio-1" class="portfolio">
    <div class="container">
      <div class="section-title pt-4 pb-4">
        <h2>Portfolio</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in
          iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li class="filter-active" data-filter="*">all</li>
            <li data-filter=".filter-birthday">birthday</li>
            <li data-filter=".filter-anniversary">anniversary</li>
            <li data-filter=".filter-proposal">proposal</li>
            <li data-filter=".filter-party">party</li>
          </ul>
        </div>
      </div>
      <div class="row portfolio-container justify-content-center row-cols-lg-2">
        {% for blog in post %}
        <div class="col portfolio-item filter-{{ blog.categorys }} col-lg-3 col-md-4 col-sm-6 px-2 mb-4">
          <a href="{% url 'blog_detail' blog.id %}">
            <img class="img-fluid rounded-1" src="{{ blog.imgs.url }}" /></a>
          <div class="portfolio-info">
            <h4>{{ blog.title }}</h4>
            <p>Bangalore Planners</p>
            <a href="{% url 'blog_detail' blog.id %}">
              <a class="portfolio-lightbox preview-link" href="{{ blog.imgs.url }}" data-gallery="portfolioGallery"
                title="{{ blog.title }}">
                <i class="fas fa-plus"></i>
              </a>
            </a>
            <a class="details-link" href="{% url 'blog_detail' blog.id %}">
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div><a class="d-md-flex justify-content-md-center align-items-md-center" id="wp" target="_blank"
  style="background-color: #5bbf21;" href="https://wa.me/919481259910"><i
    class="fa fa-whatsapp d-md-flex justify-content-md-center align-items-md-center"></i></a>
<section class="page-section"></section>
<section class="page-section"></section>
<section class="page-section"></section>
{% endblock %}