{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-faded p-5 rounded">
 <section id="portfolio-1" class="portfolio">
  <div class="container">
   <div class="section-title pt-4 pb-4">
    <h2>Portfolio</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
     consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in
     iste officiis commodi quidem hic quas.</p>
   </div>
   <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
     <ul id="portfolio-flters">
      <li class="filter-active" data-filter="*">all</li>
      <li data-filter=".filter-3d">3d</li>
      <li data-filter=".filter-logo">logo</li>
      <li data-filter=".filter-web">web</li>
     </ul>
    </div>
   </div>
   <div class="row portfolio-container justify-content-center row-cols-lg-2">
    <div class="col portfolio-item filter-logo col-lg-3 col-md-4 col-sm-6 px-2 mb-4"><img class="img-fluid rounded-1"
      src="{% static '/img/ba2bb8112344633.Y3JvcCwxMzQyLDEwNTAsMjksMA.png' %}">
     <div class="portfolio-info">
      <h4>Logo design</h4>
      <p>branding</p><a class="portfolio-lightbox preview-link"
       href="{% static '/img/ba2bb8112344633.Y3JvcCwxMzQyLDEwNTAsMjksMA.png' %}" data-gallery="portfolioGallery"
       title="Logo design"><i class="fas fa-plus"></i></a><a class="details-link" href="#"><i
        class="fas fa-link"></i></a>
     </div>
    </div>
    <div class="col portfolio-item filter-logo col-lg-3 col-md-4 col-sm-6 px-2 mb-4"><img class="img-fluid rounded-1"
      src="{% static '/img/046a80103670333.Y3JvcCwxMzQyLDEwNTAsMjksMA.jpg' %}">
     <div class="portfolio-info rounded-1">
      <h4>Logo design</h4>
      <p>branding</p><a class="portfolio-lightbox preview-link"
       href="{% static '/img//046a80103670333.Y3JvcCwxMzQyLDEwNTAsMjksMA.jpg' %}" data-gallery="portfolioGallery"
       title="Logo design"><i class="fas fa-plus"></i></a><a class="details-link" href="#"><i
        class="fas fa-link"></i></a>
     </div>
    </div>
    <div class="col portfolio-item filter-logo col-lg-3 col-md-4 col-sm-6 px-2 mb-4"><img class="img-fluid rounded-1"
      src="{% static '/img/046a80103670333.Y3JvcCwxMzQyLDEwNTAsMjksMA.jpg' %}">
     <div class="portfolio-info rounded-1">
      <h4>Logo design</h4>
      <p>branding</p><a class="portfolio-lightbox preview-link"
       href="{% static '/img//046a80103670333.Y3JvcCwxMzQyLDEwNTAsMjksMA.jpg' %}" data-gallery="portfolioGallery"
       title="Logo design"><i class="fas fa-plus"></i></a><a class="details-link" href="#"><i
        class="fas fa-link"></i></a>
     </div>
    </div>
    <div class="col portfolio-item filter-3d col-lg-3 col-md-4 col-sm-6 px-2 mb-4"><img class="img-fluid rounded-1"
      src="{% static '/img/aa390464631059.Y3JvcCwxMTk4LDkzNywxMzAsMA.jpg' %}">
     <div class="portfolio-info rounded-1">
      <h4>Space ship 3D</h4>
      <p>Cinema4D model</p><a class="portfolio-lightbox preview-link"
       href="{% static '/img//aa390464631059.Y3JvcCwxMTk4LDkzNywxMzAsMA.jpg' %}" data-gallery="portfolioGallery"
       title="Space ship concept"><i class="fas fa-plus"></i></a><a class="details-link" href="#"><i
        class="fas fa-link"></i></a>
     </div>
    </div>
    <div class="col portfolio-item filter-3d col-lg-3 col-md-4 col-sm-6 px-2 mb-4"><img class="img-fluid rounded-1"
      src="{% static '/img/aa390464631059.Y3JvcCwxMTk4LDkzNywxMzAsMA.jpg' %}">
     <div class="portfolio-info rounded-1">
      <h4>Space ship 3D</h4>
      <p>Cinema4D model</p><a class="portfolio-lightbox preview-link"
       href="{% static '/img//aa390464631059.Y3JvcCwxMTk4LDkzNywxMzAsMA.jpg' %}" data-gallery="portfolioGallery"
       title="Space ship concept"><i class="fas fa-plus"></i></a><a class="details-link" href="#"><i
        class="fas fa-link"></i></a>
     </div>
    </div>
    <div class="col portfolio-item filter-app col-lg-3 col-md-4 col-sm-6 px-2 mb-4"><img class="img-fluid"
      src="{% static '/img/f3c89531484077.5afed488c058c.jpg' %}">
     <div class="portfolio-info">
      <h4>Logo design for event company</h4>
      <p>brand design</p><a class="portfolio-lightbox preview-link"
       href="{% static '/img//f3c89531484077.5afed488c058c.jpg' %}" data-gallery="portfolioGallery"
       title="Logo Design"><i class="fas fa-plus"></i></a><a class="details-link" href=""><i
        class="fas fa-link"></i></a>
     </div>
    </div>
    <div class="col portfolio-item filter-web col-lg-3 col-md-4 col-sm-6 px-2 mb-4"><img class="img-fluid"
      src="{% static '/img/49f8f559631477.Y3JvcCw0MzU3LDM0MTAsMCww.jpg' %}">
     <div class="portfolio-info">
      <h4>web design&nbsp;</h4>
      <p>web page design</p><a class="portfolio-lightbox preview-link"
       href="{% static '/img//49f8f559631477.Y3JvcCw0MzU3LDM0MTAsMCww.jpg' %}" data-gallery="portfolioGallery"
       title="web design"><i class="fas fa-plus"></i></a><a class="details-link" href="#"><i
        class="fas fa-link"></i></a>
     </div>
    </div>
    <div class="col portfolio-item filter-web col-lg-3 col-md-4 col-sm-6 px-2 mb-4"><img class="img-fluid"
      src="{% static '/img/49f8f559631477.Y3JvcCw0MzU3LDM0MTAsMCww.jpg' %}">
     <div class="portfolio-info">
      <h4>web design&nbsp;</h4>
      <p>web page design</p><a class="portfolio-lightbox preview-link"
       href="{% static '/img//49f8f559631477.Y3JvcCw0MzU3LDM0MTAsMCww.jpg' %}" data-gallery="portfolioGallery"
       title="web design"><i class="fas fa-plus"></i></a><a class="details-link" href="#"><i
        class="fas fa-link"></i></a>
     </div>
    </div>
   </div>
  </div>
 </section>
</div><a class="d-md-flex justify-content-md-center align-items-md-center" id="wp" target="_blank"
 style="background-color: #5bbf21;" href="https://wa.me/919481259910"><i
  class="fa fa-whatsapp d-md-flex justify-content-md-center align-items-md-center"></i></a>
<section class="page-section"></section>
<section class="page-section"></section>
<section class="page-section"></section>
{% endblock %}