{% extends 'base.html' %}
{% load static %}
{% block content %}

<a class="d-md-flex justify-content-md-center align-items-md-center" id="wp" target="_blank"
 style="background-color: #5bbf21;" href="https://wa.me/919481259910"><i
  class="fa fa-whatsapp d-md-flex justify-content-md-center align-items-md-center"></i></a>
<section class="page-section cta">
 <div class="container">
  <div class="row">
   <div class="col-xl-9 mx-auto">
    <div class="text-center cta-inner rounded">
     <h2 class="section-heading mb-5"><span class="section-heading-lower">Coming Soon</span></h2>
     <p class="address mb-5"><em><strong>Fashion Street</strong><span><br>Bangalore, India</span></em></p>
     <p class="address mb-0"><small><em>Call Anytime</em></small><span><br>(000) 000-0000</span></p>
    </div>
   </div>
  </div>
 </div>
</section>
<section class="page-section about-heading">
 <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
   src="{% static '/img/about.jpg' %}">
  <div class="about-heading-content">
   <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
     <div class="bg-faded rounded p-5">
      <h2 class="section-heading mb-4"><span class="section-heading-upper"><strong>STRONG TEAM, HAPPY
         MOMENTS</strong><br></span><span class="section-heading-lower">&nbsp;About Our Company</span></h2>
      <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum
       has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
       and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
       electronic typesetting, remaining essentially unchanged.&nbsp;<br></p>
      <p class="mb-0"><span><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining essentially unchanged.&nbsp;<br><br></span></p>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>
{% endblock %}