<nav class="navbar navbar-dark navbar-expand-lg bg-dark py-lg-4" id="mainNav">
 <div class="container">
  <a class="navbar-brand text-uppercase d-lg-none text-expanded" href="{% url 'index'%}">Bangalore
   Planners</a>
  <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive">
   <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon">
   </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
   <ul class="navbar-nav mx-auto">
    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About us</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'store' %}">Store</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contactUs' %}">Contact Us</a></li>
   </ul>
  </div>
 </div>
</nav>